.container {
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 75px;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #5b6885;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.btn {
  width: 100px;
}

.btn-primary {
  background-color: #182839;
}

.btn-wider {
  width: 200px;
}

.btn-fill {
  width: 100%;
}

.collapsible-fill {
  max-width: 100%;
}

.bg {
  /* The image used */
  background-image: url("/marrakech-4500910_1920.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-container {
  background-color: whitesmoke;
}

.container-fluid {
  padding: 0;
  font-size: 13px;
}

input {
  margin-top: 10px !important;
}

.notEqual {
  color: red;
  border-color: red;
}

.passCheck {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;
  background-color: white;
}

.user-data {
  text-align: center;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 75px;
  color: #24303d;
  letter-spacing: 1px;
}

.post-color {
  background-color: #efefef;
  text-emphasis-color: white;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin: 20px;
}

.post-font {
  font-size: 0.9em !important;
  color: white;
}

.profile-username {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 4em;
}

.profile-email {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5em;
}

.no-border {
  border: none;
}

.three-dots {
  position: absolute;
  align-self: right;
  right: 10%;
}

.cont {
  position: relative;
  left: 8vw;
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.lead-text {
  font-size: 30px;
}

.top-bar {
  min-height: 60px;
  height: 8vh;
  border-bottom: 1px solid #260f26;
}
.profile-username {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 300%;
}

.profile-email {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 120%;
}

.full-page {
  height: 100vh;
}

.search-btn {
  display: none;
  /* float: left;
  height: 40px;
  top: 10px;
  position: relative;
  width: 40px;
  background-image: url("./search-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.fix {
  display: flex;
}

@media screen and (max-width: 800px) {
  .links,
  .avatar {
    width: 20vw;
    display: flex;
  }

  .links .btn {
    width: 65px;
    height: 30px;
    font-size: 8px;
    position: relative;
    margin-left: 5px;
  }

  .avatar span {
    display: none;
  }

  .avatar .btn {
    width: 65px;
    height: 30px;
    font-size: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .links .btn {
    position: relative;
    right: 5px;
  }
}

.avatar .usericon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.avatar span {
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}

.profile-icon {
  width: 12em;
  height: 12em;
}
.smaller-profile-icon {
  width: 9em;
  height: 9em;
}
.btn-logout {
  margin-left: 10px;
}

.button {
  margin-top: 8px;
  margin-right: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .profile-icon {
    width: 16em;
    height: 16em;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .profile-icon {
    width: 10vw;
    height: 10vw;
    position: relative;
  }
}

@media screen and (min-width: 801px) {
  .topbar-buttons {
    min-width: 300px;
  }
}

@media screen and (max-width: 801px) {
  .topbar-buttons {
    min-width: 220px;
    margin-top: 10px;
  }
}

.search-bar {
  width: 100%;
  min-height: 40px;
}

.topbar-logo {
  min-width: 150px;
}

.image-upload {
  text-align: left;
  height: 50px;
  margin-top: 8px;
  margin-left: 8px;
}

.image-upload-picture {
  width: 50px;
  height: 50px;
}

.image-upload > input {
  display: none;
}

.post-image > img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.overlay > div {
  width: 40vw;
}

.small-img-preview {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
  height: 100px;
  width: auto;
}

.small-img-preview > img {
  height: 100%;
  width: auto;
}

.input-add-space {
  margin-top: 10px;
}

.topbar-username {
  margin-left: 5px;
}

.photo {
  width: 100vw;
  height: 45vh;
  /* background-color: blueviolet; */
  background-image: url("./patterns/double-bubble-dark.png");
  /* background-repeat: no-repeat;
  background-size: contain; */
  font-size: 60px;
  color: white;
}

.cover-text {
  position: relative;
  top: 35vh;
  left: 3vw;
}

.store-time {
  font-size: 1.7em;
}

.btn-exit {
  position: relative;
  left: 31vw;
  background-color: transparent !important;
  color: grey;
}

.btn-create {
  width: 15vw;
  font-size: 1.5em !important;
}

.btn-edit {
  position: relative;
  top: -3vh;
  height: 0.5vh;
  width: 1vw;
  font-size: 1.5em;
  background-color: transparent !important;
  border: none !important;
}

.btn-edit-name {
  position: relative;
  top: 27vh;
  left: 3vw;
  height: 0.5vh;
  width: 1vw;
  font-size: 0.5em;
  background-color: transparent !important;
  border: none !important;
}

.input-edit {
  display: inline;
  background-color: transparent;
  border: none;
  width: 9vw;
}
.input-edit-name {
  display: inline;
  background-color: transparent;
  border: none;
  width: 23vw;
  height: 8vh;
  font-size: 1em;
}
.chat-top-bar {
  height: 50px;
}

.chat-top-bar > h5 {
  margin-top: calc((50px - 24px) / 2);
  margin-bottom: calc((50px - 24px) / 2);
  margin-left: 5px;
}

.messaged-user {
  margin-top: 10px;
  border-radius: 5px;
}

.messaged-users-contrainer {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 2px;
  height: calc(100vh - 8vh - 50px);
  background-image: url("./patterns/chat-pattern.png");
  background-repeat: repeat;
}

.chat-window {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  height: 86vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.message-form {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  min-height: 40px;
}

.message-form > button {
  margin: auto 10px auto 5px;
  height: 30px;
  width: 50px;
  background-image: url("../static/send_message.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.message-input {
  max-height: 30px;
  width: 80%;
  margin: auto 5px auto 10px !important;
}

.message-bubble {
  word-wrap: break-word;
  max-width: 60%;
  color: white;
  border-radius: 40px;
  padding: 15px;
  margin: 12px;
}
