.container {
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 75px;
  color: #24303d;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #5b6885;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.btn {
  width: 100px;
}

.btn-primary {
  background-color: #182839;
}

.btn-wider {
  width: 200px;
}

.btn-fill {
  width: 100%;
}

.collapsible-fill {
  max-width: 100%;
}

.bg {
  /* The image used */
  background-image: url("/marrakech-4500910_1920.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-container {
  background-color: whitesmoke;
}

.container-fluid {
  padding: 0;
  font-size: 13px;
}

input {
  margin-top: 10px !important;
}

.notEqual {
  color: red;
  border-color: red;
}

.passCheck {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;
  background-color: white;
}

.user-data {
  text-align: center;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 75px;
  color: #24303d;
  letter-spacing: 1px;
}

.post-color {
  background-color: #efefef;
  text-emphasis-color: white;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin: 20px;
}

.post-font {
  font-size: 0.9em !important;
  color: white;
}

.profile-username {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 4em;
}

.profile-email {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5em;
}

.no-border {
  border: none;
}

.three-dots {
  position: absolute;
  align-self: right;
  right: 10%;
}

.cont {
  position: relative;
  left: 8vw;
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.lead-text {
  font-size: 30px;
}

.logo {
  font-size: 25px;
  color: rgb(121, 63, 165);
  font-weight: bold;
}

.logo:hover {
  text-decoration: none;
  color: rgb(121, 63, 165);
}

.top-bar {
  height: 8vh;
  border-bottom: 1px solid #260f26;
}
.profile-username {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 300%;
}

.profile-email {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 120%;
}

.full-page {
  height: 100vh;
}

.search-btn {
  float: left;
  height: 40px;
  top: 10px;
  position: relative;
  width: 40px;
}

.fix {
  display: flex;
}

.input-grey {
  background-color: #272525;
  width: 30vw;
  height: 5vh;
  border: 1px black solid;
}

@media screen and (max-width: 800px) {
  .links,
  .avatar {
    width: 20vw;
    display: flex;
  }

  .links .btn {
    width: 65px;
    height: 30px;
    font-size: 8px;
    position: relative;
    margin-left: 5px;
  }

  .avatar span {
    display: none;
  }

  .avatar .btn {
    width: 65px;
    height: 30px;
    font-size: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .links .btn {
    position: relative;
    right: 5px;
  }
}

.avatar .usericon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.new-post {
  color: white;
  background-color: #151414;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.new-post textarea {
  background-color: #2b2828;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
}

.avatar span {
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
