@font-face {
    font-family: Montserrat-Regular;
    src: url('./font/Montserrat-Regular.ttf')
}

@font-face {
    font-family: Montserrat-TopBar;
    src: url('./font/Montserrat-Light.ttf')
}

.top-bar-theme {
    background-color: #E09D00;
}

.text-theme {
    color: #ffc107;
    font-size: 1.5rem;
}

.text-theme-secondary {
    color:white;
    font-size: 1.5rem;
}

.sidebar-link-theme {
    color: white;
    border-top: 1px, solid, white ;
    background-color: transparent;
}

hr {
    background-color: #ffc107;
}

.bg-color {
    background-color: #232020 !important;
}

.btn-theme {
    background-color: #232020;
    color: white;
}

.post-theme {
    color: white;
    background-color: #151414;
    border: #FFB947 solid 2px;
    border-radius: 10px;
}

.sidebar-theme {
    background-color: #232020;
    border-bottom: #FFB947 solid 2px ;
    color:white;
    text-align: left;
}

.close-sidebar-theme {
    color: #ffc107;
}

.body-theme {
    background-image: url("patterns/webb-dark.png");
    background-repeat: repeat;
}

.border-theme {
    border: 1px solid black;
    border-radius: 3px;
}

.font-theme {
    font-family: 'Montserrat-Regular';
    font-size: 1.25rem;
}

.font-theme-top-bar {
    font-family: 'Montserrat-TopBar';
}

.like-img{
    height: 26px;
    width: 30px;
    background-image: url("./empty_heart_theme.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .like-img:hover,
  .like {
    background-image: url("./full_heart.png");
  }